.dub
docs.json
__dummy.html
docs/
/installed_package_checker
installedpackagechecker.so
installedpackagechecker.dylib
installedpackagechecker.dll
installedpackagechecker.a
installedpackagechecker.lib
installedpackagechecker-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
/InstalledPackageChecker.iml
